body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: arial,sans-serif;
}

.button:hover {
    border: solid 1px blue;
    background-color: yellow;
}

h1{
    margin-top: 20px;
    padding-left: 20px;
    background-color: antiquewhite;
}

#title{
    background-color: antiquewhite;
    text-align: center;
}

#add_task{
    margin-top: 10px;
}

#first {
    width: 50%;
    float: left;
}

#second{
    width: 50%;
    float: left;
}

#third {
    width: 50%;
    float: left;
}

#fourth{
    width: 50%;
    float: left;
}